body {
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo {
    font-size: 24px;
    font-family: 'Gilroy-Bold', sans-serif;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

main {
    padding: 20px;
}

.main-content, .project-content, .about-content {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.center {
    text-align: center;
  }

.container {
    text-align: center;
}

.animated-button {
    border: 2px solid #fff;
    padding: 10px 20px;
    font-size: 16px;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}

.animated-button:hover {
    background-color: #fff;
    color: #000;
}